Download the time series of Citi stock (close levels, from 2000 onwards). Use yahoo finance for this.

Write a python function which calculates top N mutually exclusive worst historical drawdowns, where N is a variable. Definition of the function will look like: def worstDrawdown(n,df):

Your answer should be a list of N elements (in the descending order of the magnitudes of those N drawdowns) wherein each element is a list of 3 elements of [drawdown start date, drawdown end date, drawdown percentage]

In [1]:
#!pip install fix_yahoo_finance
import yfinance as fix

In [2]:
from pandas_datareader import data as web
import datetime as dt

In [3]:
fix.pdr_override()

In [4]:
start = dt.datetime(2000, 1, 1)
end = dt.datetime(2020, 8, 14)

In [5]:
df = web.get_data_yahoo(['C'],start, end)

[*********************100%***********************]  1 of 1 completed

In [6]:
df.head()

                 Open       High       Low      Close   Adj Close   Volume
Date
1999-12-31  414.37500  419.53125  411.5625  417.65625  340.037750   260400
2000-01-03  417.18750  417.18750  390.0000  397.50000  323.627411  1681900
2000-01-04  390.00000  391.40625  373.1250  373.12500  303.782379  2403200
2000-01-05  381.56250  390.00000  371.2500  388.12500  315.994751  1742500
2000-01-06  384.84375  410.15625  384.3750  406.87500  331.260010  1863200

In [7]:
from scipy.signal import find_peaks
x=find_peaks(df["Close"])

In [8]:
x1=find_peaks(-df["Close"])

In [9]:
peak=x[0][:-1]
bottom=x1[0][1:]
ans=[]
for i in range(len(bottom)):
    value=1-(df["Close"].iloc[bottom[i]]/df["Close"].iloc[peak[i]])
    ans.append(value)

In [10]:
import numpy as np
big=np.argmax(ans)
big

572

In [11]:
df.iloc[peak[572]]

Open         9.760000e+01
High         1.011000e+02
Low          8.790000e+01
Close        9.520000e+01
Adj Close    8.547484e+01
Volume       2.815690e+07
Name: 2008-11-14 00:00:00, dtype: float64

In [12]:
df.iloc[bottom[572]]

Open         5.440000e+01
High         5.530000e+01
Low          3.050000e+01
Close        3.770000e+01
Adj Close    3.384875e+01
Volume       1.027725e+08
Name: 2008-11-21 00:00:00, dtype: float64

In [13]:
def worstDrawdown(n,df):
    df=df.reset_index()
    x=find_peaks(df["Close"])
    x1=find_peaks(-df["Close"])
    peak=x[0][:-1]
    bottom=x1[0][1:]
    ans=[]
    for i in range(len(bottom)):
        value=1-(df["Close"].iloc[bottom[i]]/df["Close"].iloc[peak[i]])
        ans.append(value)
    final=np.argsort(ans)[::-1]
    
    Final_answer=[]
    for i in range(n):
        inside=[]
        inside.append(ans[final[i]])
        inside.append(df.iloc[peak[final[i]]]["Date"])
        inside.append(df.iloc[bottom[final[i]]]["Date"])
        Final_answer.append(inside)
    return Final_answer

worstDrawdown(3,df)

[[0.6039915759300288,
  Timestamp('2008-11-14 00:00:00'),
  Timestamp('2008-11-21 00:00:00')],
 [0.5384615384615384,
  Timestamp('2009-02-24 00:00:00'),
  Timestamp('2009-03-02 00:00:00')],
 [0.5254237288135593,
  Timestamp('2009-01-13 00:00:00'),
  Timestamp('2009-01-20 00:00:00')]]