In [1]:
import pandas as pd

data=pd.read_csv("key word.csv",engine="python")
data.head()

   編號   詞    TF    DF
0   1  台灣  8276  2510
1   2  市場  7829  2951
2   3  公司  7770  2735
3   4  今年  6437  2822
4   5  表示  6376  3527

In [2]:
total=pd.read_csv("Total key word.csv",engine="python")

In [3]:
total.head()

   編號   詞      TF     DF
0   1  表示  100945  54184
1   2  台灣   81884  27124
2   3  今天   58701  38822
3   4  公司   44799  18932
4   5  市場   43295  18346

In [4]:
#該主題的文件
doc=5896
import numpy as np
data["TF-IDF"]=(1+np.log10(data["TF"]))*(np.log10(doc/data["DF"]))

In [5]:
#全部文件
total_doc=90507
total["TF-IDF"]=(1+np.log10(total["TF"]))*(np.log10(total_doc/total["DF"]))

In [6]:
TF=total[["詞","TF"]].set_index("詞").to_dict()
TF=TF["TF"]
DF=total[["詞","DF"]].set_index("詞").to_dict()
DF=DF["DF"]
TFIDF=total[["詞","TF-IDF"]].set_index("詞").to_dict()
TFIDF=TFIDF["TF-IDF"]

In [7]:
data["全部TF"]=data["詞"].map(TF)
data["全部DF"]=data["詞"].map(DF)
data["全部TF-IDF"]=data["詞"].map(TFIDF)

data["TF期望值"]=(data["全部TF"]*(doc/total_doc)).apply(lambda x:int(x))
data["DF期望值"]=(data["全部DF"]*(doc/total_doc)).apply(lambda x:int(x))

In [8]:
data["TF卡方值(保留正負號)"]=(np.sign(data["TF"]-data["TF期望值"])*(data["TF"]-data["TF期望值"])**2/(data["TF期望值"]))
data["DF卡方值(保留正負號)"]=(np.sign(data["DF"]-data["DF期望值"])*(data["DF"]-data["DF期望值"])**2/(data["DF期望值"]))

In [9]:
data["lift"]=(data["DF"]/doc)/(data["全部DF"]/total_doc)

In [10]:
data["MI"]=np.log10(data["DF"]/(data["全部DF"]*doc))
data.head()

,編號,詞,TF,DF,TF-IDF,全部TF,全部DF,全部TF-IDF,TF期望值,DF期望值,TF卡方值(保留正負號),DF卡方值(保留正負號),lift,MI
0,1,台灣,8276,2510,1.823940,81884,27124,3.094545,5334,1766,1622.677915,313.440544,1.420511,-4.804237
1,2,市場,7829,2951,1.470991,43295,18346,3.906845,2820,1195,8897.191844,2580.364854,2.469179,-4.564130
2,3,公司,7770,2735,1.631445,44799,18932,3.839956,2918,1233,8067.821796,1829.686942,2.217612,-4.610797
3,4,今年,6437,2822,1.538781,39867,21477,3.498751,2597,1399,5677.936080,1447.411723,2.017010,-4.651974
4,5,表示,6376,3527,1.072145,100945,54184,1.337777,6575,3529,-6.022966,-0.001133,0.999215,-4.957023