After doing the customer segmentation

[Customer Segmentation](https://nbviewer.jupyter.org/github/popolee0513/Data-Science-Skills-Practice/blob/master/Big%20Data%20And%20Business%20Analytics/91app%20analytics/RFM.ipynb)

We would like to know what is the most effective source of ads for different group of customers.

In [6]:

import os
data=os.listdir('C://Users//TatungSS//Downloads//91ForNTUDataSet//91ForNTUDataSet//123_new')

purchase=[]
traffic =[]
for i in data:
    if "traffic" in i:
        traffic.append(i)
    if "purchase" in i:
        purchase.append(i)
print(purchase[:5])
print(traffic[:5])

['purchase_2018-06-26.csv', 'purchase_2018-06-27.csv', 'purchase_2018-06-28.csv', 'purchase_2018-06-29.csv', 'purchase_2018-06-30.csv']
['trafficSource_2018-06-26.csv', 'trafficSource_2018-06-27.csv', 'trafficSource_2018-06-28.csv', 'trafficSource_2018-06-29.csv', 'trafficSource_2018-06-30.csv']

In [10]:
import pandas as pd
df1=[pd.read_csv(os.path.join("C://Users//TatungSS//Downloads//91ForNTUDataSet//91ForNTUDataSet//123_new",i)) for i in purchase]
df2=[pd.read_csv(os.path.join("C://Users//TatungSS//Downloads//91ForNTUDataSet//91ForNTUDataSet//123_new",i)) for i in traffic]

C:\Users\TatungSS\Anaconda3\envs\django\lib\site-packages\IPython\core\interactiveshell.py:3337: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\TatungSS\Anaconda3\envs\django\lib\site-packages\IPython\core\interactiveshell.py:3337: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\TatungSS\Anaconda3\envs\django\lib\site-packages\IPython\core\interactiveshell.py:3337: DtypeWarning: Columns (3,10) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [11]:
df_purchase=pd.concat(df1,axis=0)
df_traffic=pd.concat(df2,axis=0)
df_traffic.head()

,mid,dc,did,uid,ht,ul,geoid,bh,cs,cm,cn
0,123,web,cf261d71-475a-4c9e-a35d-590c6de7bb60,NaN,1529999742142,zh-tw,TW,traffic,FBM,QA,NaN
1,123,web,cf261d71-475a-4c9e-a35d-590c6de7bb60,NaN,1529999677375,zh-tw,TW,traffic,FBM,QA,NaN
2,123,web,d5ccc9f9-e0e3-4b69-8516-b9426bd71e8b,NaN,1530029728999,zh-tw,TW,traffic,FBM,QA,NaN
3,123,web,5b9b2990-e058-46f7-a19c-17637eee6fd0,NaN,1530021444992,zh-tw,TW,traffic,FBM,1044,NaN
4,123,web,fc0f2e7b-4449-4e15-fd30-25dd3e292a18,NaN,1530004471646,zh-tw,TW,traffic,FBM,2255,NaN

In [12]:
df_traffic=df_traffic.dropna(subset=["uid"])
df_traffic=df_traffic.drop_duplicates()
df_purchase=df_purchase.dropna(subset=["uid"])
df_purchase=df_purchase.drop_duplicates()
print(df_traffic.shape)
print(df_purchase.shape)

(4206388, 11)
(170233, 14)

In [13]:
import datetime
df_traffic["ht"]=df_traffic["ht"].apply(lambda x:datetime.date.fromtimestamp(int(x) / 1000).strftime("%Y-%m-%d"))
df_purchase["ht"]=df_purchase["ht"].apply(lambda x:datetime.date.fromtimestamp(int(x) / 1000).strftime("%Y-%m-%d"))

In [14]:
df_purchase.head()

,mid,dc,did,uid,ht,ul,geoid,bh,tr,ti,pr1id,pr1pr,pr1qt,cu
0,123,web,0e960ea3-0c10-489d-494b-f82e6da5ff6f,YP4rsCTcLZMhO8CXsQDoB5KonLHEM6km1ycEBT9Hxtw%3D,2018-06-26,zh-tw,TW,purchase,1680.0,TG180626U00440,3203575,1680.0,1,TWD
1,123,app,b1591bfe-d6eb-407e-b83d-482f38b8b8f2,5MwvmEy%2FaTl5oALNHNblKf%2FGL7dvxbtcLumZ%2Bh78...,2018-06-26,zh-Hant-TW,TW,purchase,1480.0,TG180626S00967,4394945,1480.0,1,TWD
2,123,app,6ace52f2-5e57-47b4-80db-87644d218337,Udq9%2B%2BgT5oJT5sv23qPk5afY%2Ff0H4%2BKXcEOUTA...,2018-06-26,zh-TW,TW,purchase,1300.0,TG180626R00876,4213167,1300.0,1,TWD
3,123,app,316feda9-0df8-4b1e-8303-f5671754fc42,xxLG0wUQrrwhAx3HJUISLIrx5GW%2Fm6Ahio6C0b4A1ok%3D,2018-06-27,zh-TW,TW,purchase,2099.0,TG180627G00044,3530545,1600.0,1,TWD
4,123,app,316feda9-0df8-4b1e-8303-f5671754fc42,xxLG0wUQrrwhAx3HJUISLIrx5GW%2Fm6Ahio6C0b4A1ok%3D,2018-06-27,zh-TW,TW,purchase,2099.0,TG180627G00044,4310845,499.0,1,TWD

In [20]:
#Top 10 advertising sources accounted for 96% of the overall advertising campaign sources
print("%.2f" % (pd.value_counts(df_traffic["cs"])[:10].sum()/pd.value_counts(df_traffic["cs"]).sum()))
print(pd.value_counts(df_traffic["cs"])[:10])

0.96
FBAD              1497013
FBPO               793406
google             439725
LINE               389412
BRIDGEWELL         338948
tagtoo             267156
m.facebook.com     134243
sms                 74837
System_Inform       48936
affiliate           48540
Name: cs, dtype: int64

In [53]:
buy= df_purchase.groupby('uid').ht.apply(list).to_dict()
print(buy["YP4rsCTcLZMhO8CXsQDoB5KonLHEM6km1ycEBT9Hxtw%3D"])
print(len(buy))

['2018-06-26', '2020-04-15']
66179

In [83]:
default=5
ad={}
pur={}
top_10=list(pd.value_counts(df_traffic["cs"])[:10].index)
df_traffic=df_traffic[df_traffic["cs"].isin(top_10)]
df_traffic=df_traffic[df_traffic["uid"].isin(buy.keys())]
for i in pd.unique(df_traffic["uid"]):
    ad[i]=[0]*10
    pur[i]=[0]*10
for i in range(len(df_traffic)):
    source=df_traffic.iloc[i,8]
    uid=df_traffic.iloc[i,3]
    time=df_traffic.iloc[i,4]
    index=top_10.index(source)
    ad[uid][index]+=1
    for i in range(default):
        delta = datetime.timedelta(days = i) 
        time_index=(pd.to_datetime(time)+delta).strftime("%Y-%m-%d")
        if time_index in buy[uid]:
            pur[uid][index]+=1
            break

In [84]:
get_ad= pd.DataFrame([v for v in ad.values()], columns=top_10,index=ad.keys())

real_buy=pd.DataFrame([v for v in pur.values()], columns=top_10,index=pur.keys())

In [85]:
get_ad.head()

,FBAD,FBPO,google,LINE,BRIDGEWELL,tagtoo,m.facebook.com,sms,System_Inform,affiliate
YP4rsCTcLZMhO8CXsQDoB5KonLHEM6km1ycEBT9Hxtw%3D,96,9,25,0,0,0,0,0,0,0
75%2FrbdapCKhL7d0BNCwoCMVFug5o1ObekQmbKUlGvxI%3D,10,1,0,0,0,2,5,0,3,0
A8QL2q0VUd1SwBfcrPlcAmZvgQeT2tWRXarglpVwxo8%3D,212,559,27,0,5,7,22,0,4,0
KseDUdO7BHgJ5c4tsPCBoEDkZpneXCgSq7x99XSG6FY%3D,0,0,29,289,2,0,0,0,0,0
5a9EEkCbZ2B9UlzjRqgBjR8DMSfFPPFLKfYkz8dz8a4%3D,258,163,38,0,104,162,3,0,1,0

In [88]:
final=real_buy.div(get_ad)
RFM=pd.read_csv("rfm.csv")
final=final.reset_index()
final=pd.merge(final,RFM,left_on="index",right_on="MemberID",how="left")
final=final.dropna(subset=["Cluster"])
final["Cluster"]=final["Cluster"].apply(lambda x:int(x)).astype("category")

final.set_index("MemberID",inplace=True)

final.drop("index",axis=1,inplace=True)
final.head()

,FBAD,FBPO,google,LINE,BRIDGEWELL,tagtoo,m.facebook.com,sms,System_Inform,affiliate,Cluster
MemberID,,,,,,,,,,,
YP4rsCTcLZMhO8CXsQDoB5KonLHEM6km1ycEBT9Hxtw%3D,0.916667,0.000000,0.040000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
75%2FrbdapCKhL7d0BNCwoCMVFug5o1ObekQmbKUlGvxI%3D,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,0.0,NaN,2
A8QL2q0VUd1SwBfcrPlcAmZvgQeT2tWRXarglpVwxo8%3D,0.000000,0.486583,0.000000,NaN,0.200000,0.000000,0.954545,NaN,0.5,NaN,0
KseDUdO7BHgJ5c4tsPCBoEDkZpneXCgSq7x99XSG6FY%3D,NaN,NaN,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,1
5a9EEkCbZ2B9UlzjRqgBjR8DMSfFPPFLKfYkz8dz8a4%3D,0.023256,0.184049,0.315789,NaN,0.519231,0.876543,0.000000,NaN,0.0,NaN,1

In [89]:
result=final.groupby("Cluster")[top_10].mean()
result

,FBAD,FBPO,google,LINE,BRIDGEWELL,tagtoo,m.facebook.com,sms,System_Inform,affiliate
Cluster,,,,,,,,,,
0,0.234397,0.250128,0.210157,0.133065,0.238155,0.205942,0.234138,0.197966,0.170222,0.609364
1,0.245495,0.237177,0.197083,0.103531,0.215220,0.223899,0.252821,0.098465,0.133369,0.594624
2,0.283640,0.258469,0.270544,0.225916,0.282485,0.275809,0.325166,0.170734,0.209021,0.645489
3,0.594558,0.425737,0.820661,0.436590,0.507992,0.509675,0.644158,0.000000,0.228571,0.875187

In [90]:
for i in range(4):
    print("For group %d ,the most effective source of advertisement is %s and the conversion rate is %.2f." %(i,result.columns[result.T[i].argmax()],result.T[i].max()))

For group 0 ,the most effective source of advertisement is affiliate and the conversion rate is 0.61.
For group 1 ,the most effective source of advertisement is affiliate and the conversion rate is 0.59.
For group 2 ,the most effective source of advertisement is affiliate and the conversion rate is 0.65.
For group 3 ,the most effective source of advertisement is affiliate and the conversion rate is 0.88.

# Short comment

From the following result,we find that affiliate marketing is a very useful way to stimulate customers buying behavior and without group difference.
[Affiliate marketing](https://en.wikipedia.org/wiki/Affiliate_marketing)