In [1]:
import csv 
import numpy as np
from numpy.linalg import inv
import random
import math
import sys
import pandas as pd

In [2]:
data=pd.read_csv(r"C://Users//POPO//Desktop//train.csv",encoding='big5')

In [3]:
data.head()

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,豐原,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,豐原,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,豐原,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,豐原,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5

In [4]:
data=data.loc[data["測項"]=="PM2.5","0":]
data.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
9,26,39,36,35,31,28,25,20,19,30,...,36,45,42,49,45,44,41,30,24,13
27,21,23,30,30,22,18,13,13,11,22,...,53,43,43,45,46,32,16,19,22,26
45,19,25,27,20,16,14,15,8,4,9,...,32,36,34,45,40,41,23,29,23,37
63,27,27,14,20,22,24,26,33,48,50,...,62,55,56,67,78,83,90,75,85,82
81,80,80,76,81,75,66,70,65,66,57,...,64,73,57,57,53,70,70,60,68,66

In [5]:
train_x=[]
train_y=[]
for i in range(15):
    train_x.append(np.array(data.loc[:,str(i):str(i+8)]))
    train_y.append(np.array(data.loc[:,str(i+9)]))
train_x=np.array(train_x)
train_y=np.array(train_y)

In [6]:
print(train_x.shape)
print(train_y.shape)

(15, 240, 9)
(15, 240)

In [7]:
train_x=train_x.reshape((3600,9))

In [8]:
train_x

array([['26', '39', '36', ..., '25', '20', '19'],
       ['21', '23', '30', ..., '13', '13', '11'],
       ['19', '25', '27', ..., '15', '8', '4'],
       ...,
       ['31', '31', '36', ..., '39', '36', '24'],
       ['21', '21', '19', ..., '11', '0', '7'],
       ['1', '7', '24', ..., '28', '17', '24']], dtype=object)

In [9]:
train_y=train_y.flatten()

In [10]:
train_y

array(['30', '22', '9', ..., '23', '7', '29'], dtype=object)

In [11]:
train_x = np.concatenate((np.ones((3600,1)),train_x), axis=1)

In [12]:
train_x

array([[1.0, '26', '39', ..., '25', '20', '19'],
       [1.0, '21', '23', ..., '13', '13', '11'],
       [1.0, '19', '25', ..., '15', '8', '4'],
       ...,
       [1.0, '31', '31', ..., '39', '36', '24'],
       [1.0, '21', '21', ..., '11', '0', '7'],
       [1.0, '1', '7', ..., '28', '17', '24']], dtype=object)

In [13]:
train_x=train_x.astype(float)
train_y=train_y.astype(float)

In [14]:
w = np.random.randn(10)*0.1
l_rate = 0.01
repeat = 100000

In [15]:
s_gra=np.zeros(len(train_x[0]))
for i in range(repeat):
    hypo = np.dot(train_x,w)
    loss = hypo - train_y
    cost = np.sum(loss**2) / 3600
    cost_a  = math.sqrt(cost)
    gra = np.dot(train_x.T,loss)
    s_gra += gra**2
    ada = np.sqrt(s_gra)
    w = w - l_rate * gra /ada
    if (i%5000)==0:
        print ('iteration: %d | Cost: %f  ' % ( i,cost_a))
print ('iteration: %d | Cost: %f  ' % ( i,cost_a))

iteration: 0 | Cost: 38.415332
iteration: 5000 | Cost: 8.158577
iteration: 10000 | Cost: 7.474252
iteration: 15000 | Cost: 7.162913
iteration: 20000 | Cost: 6.988316
iteration: 25000 | Cost: 6.878629
iteration: 30000 | Cost: 6.804582
iteration: 35000 | Cost: 6.752068
iteration: 40000 | Cost: 6.713461
iteration: 45000 | Cost: 6.684305
iteration: 50000 | Cost: 6.661833
iteration: 55000 | Cost: 6.644246
iteration: 60000 | Cost: 6.630317
iteration: 65000 | Cost: 6.619184
iteration: 70000 | Cost: 6.610220
iteration: 75000 | Cost: 6.602960
iteration: 80000 | Cost: 6.597051
iteration: 85000 | Cost: 6.592220
iteration: 90000 | Cost: 6.588257
iteration: 95000 | Cost: 6.584996
iteration: 99999 | Cost: 6.582306

In [16]:
# save model
np.save('model.npy',w)
# read model
w = np.load('model.npy')

In [17]:
test=pd.read_csv("C://Users//POPO//Desktop//test.csv")
test.head()

   id_0 AMB_TEMP    15    14  14.1    13  13.1  13.2  13.3  13.4    12
0  id_0      CH4   1.8   1.8   1.8   1.8   1.8   1.8   1.8   1.8   1.8
1  id_0       CO  0.36  0.35  0.34  0.33  0.33  0.34  0.34  0.37  0.42
2  id_0     NMHC  0.11  0.09  0.09   0.1   0.1   0.1   0.1  0.11  0.12
3  id_0       NO   0.6   0.4   0.3   0.3   0.3   0.7   0.8   0.8   0.9
4  id_0      NO2   9.3   7.1   6.1   5.7   5.5   5.3   5.5   7.1   7.5

In [18]:
test_x=test.loc[test["AMB_TEMP"]=="PM2.5","15":]
test_x.head()

    15  14 14.1  13 13.1 13.2 13.3 13.4  12
8   27  13   24  29   41   30   29   27  28
26  46  47   57  78   84   76   59   61  61
44  10  10   25  34   40   39   36   25  22
62  71  58   51  41   41   46   43   34  29
80  13  23   18  10    5    5   13    9  12

In [19]:
test_x=np.array(test_x)
test_x=test_x.astype(float)

In [20]:
test_x.shape

(240, 9)

In [21]:
test_x = np.concatenate((np.ones((240,1)),test_x), axis=1)

In [22]:
test_x

array([[ 1., 27., 13., ..., 29., 27., 28.],
       [ 1., 46., 47., ..., 59., 61., 61.],
       [ 1., 10., 10., ..., 36., 25., 22.],
       ...,
       [ 1., 16., 25., ..., 11.,  3.,  0.],
       [ 1., 29., 27., ..., 35., 35., 26.],
       [ 1., 12.,  8., ...,  0.,  0.,  0.]])

In [23]:
ans = []
for i in range(len(test_x)):
    ans.append(["id_"+str(i)])
    a = np.dot(w,test_x[i])
    ans[i].append(a)

In [24]:
y_pred=pd.DataFrame(ans)

In [25]:
y_pred=y_pred[1]

In [26]:
y_test=pd.read_csv("C://Users//POPO//Desktop//ans.csv")
y_test=y_test["value"]

In [27]:
erro=(sum((y_pred-y_test)**2)/len(y_pred))**(1/2)

In [28]:
erro #root mean square

6.72878057762261